<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<h1>Welcome <%= current_user.name %></h1>
<div>
Your current summons:
  <%= render 'summons/summons'%>
</div>
<%= link_to "Summon another demon?", new_user_summon_path(current_user) %>