<ul>
  <% @demons.each do |demon| %>
    <li><%= link_to "#{demon.name}'s' Page", demon_path(demon)%></li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to "Request A Demon", new_demon_path %>
<% end %>